<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="cartAPISoap" />
				<binding name="cartAPIAdvancedSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://api.3dcart.com/cart.asmx" binding="basicHttpBinding"
			    bindingConfiguration="cartAPISoap" contract="ThreeDCartService.cartAPISoap"
			    name="cartAPISoap" />
			<endpoint address="http://api.3dcart.com/cart_advanced.asmx"
			    binding="basicHttpBinding" bindingConfiguration="cartAPIAdvancedSoap"
			    contract="ThreeDCartAdvancedService.cartAPIAdvancedSoap" name="cartAPIAdvancedSoap" />
		</client>
	</system.serviceModel>
</configuration>