<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="cartAPISoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
					<security mode="Transport" />
				</binding>
				<binding name="cartAPIAdvancedSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://api.3dcart.com/cart.asmx" binding="basicHttpBinding"
			    bindingConfiguration="cartAPISoap" contract="ThreeDCartService.cartAPISoap"
			    name="cartAPISoap" />
			<endpoint address="https://api.3dcart.com/cart_advanced.asmx"
			    binding="basicHttpBinding" bindingConfiguration="cartAPIAdvancedSoap"
			    contract="ThreeDCartAdvancedService.cartAPIAdvancedSoap" name="cartAPIAdvancedSoap" />
		</client>
	</system.serviceModel>
</configuration>