<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="cartAPISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.3dcart.com/cart.asmx" binding="basicHttpBinding"
                bindingConfiguration="cartAPISoap" contract="ThreeDCartService.cartAPISoap"
                name="cartAPISoap" />
        </client>
    </system.serviceModel>
</configuration>